body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

h2 {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

.button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #444;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
}



nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.logo {
  width: 100px;
  height: 100px;
}

  /*---------------FIM DO HEADER-------------*/

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 2rem;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer li {
    margin-right: 20px;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer img {
    width: 30px;
    height: 30px;
}

  
  /*---------------FIM DO FOOTER-------------*/

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
  }
  
  

  .hero {
    background-image: linear-gradient(to bottom, #333, #555);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
.button{
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
}

  .hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .features {
    background-color: white;
    padding: 20px;
    align-items: center;
  }
  
  .features h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .features ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 20px;
  }
  
  .features i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .features p {
    font-size: 18px;
  }
  /*-------------FIM DE CONTEUDO-----------*/